body{padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
}

.navbar-container{background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-around;
    gap: 50px;
}
nav{padding: 20px;
    display: flex;
    gap: 20px;
}
li{
    list-style: none;
}
.navbar-banner{
    display: flex;
    gap: 20px;
}
.navbar-banner img{margin-top: 20px;
    width: 40px;
    height: 30px;
}
.nav-hoba{margin-top: -10px;
    background-color: rgb(206, 199, 199);
    display: flex;
    gap: 30px;
    padding: 10px;
    color: #3C354F;
text-align: center;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
#youtube{
    color: red;
}

.play-container{margin-top: 70px;
    display: flex;
    height: 700px;
    background: #e2dedee6;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}
.play-img{
    width: 300px;
    height: 300px;
}
.play-banner{gap: 20px;
    display: flex;
}
#i{
    margin-top: 25px;
}
.goat{
   

font-size: 70px;
font-style: normal;
font-weight: 800;
line-height: normal;
/* text-transform: uppercase; */
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.play{
    color: #0B0223;
text-align: center;
font-family: Work Sans;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
}
.play-p{
    color: #534C64;
text-align: center;
font-family: Work Sans;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: lowercase;
}
.sign-btn{
    color: #FFF;
font-family: Work Sans;
font-size: 16px;

padding:10px 15px;
border: none;
font-weight: 600;

text-transform: uppercase;
border-radius: 48px;
background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
}
.rogur{
    color: #FFF;
    font-family: Work Sans;
    font-size: 16px;
    
    padding:10px 15px;
    border: none;
    font-weight: 600;
    border-radius: 48px;
background: #4EC5F7;
    text-transform: uppercase;
   border-radius: 48px;
   margin-left: 16px;
}

.game-container{margin-top: 0px;
    padding: 10px;
display: flex;
background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
justify-content: space-around;
}
.game-img{margin-top: 50px;
    width: 400px;
    height: 400px;
}
.gamer-head{
    text-align: right;

font-size: 40px;
font-weight: 700;
background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.gamer-p{
    color: #534C64;
text-align: right;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
}
.sign-b{
    
    margin-left: 300px;
    padding: 17px 35px;
   border: none;
   color: white;
    gap: 10px;
    border-radius: 48px;
background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
}

.gamer-para{
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 45px; /* 187.5% */

    }
    .online-head{margin-top: 40px;
        color: #0B0223;
        text-align: center;
    
        font-size: 40px;
  
        font-weight: 700;
      
    }
    .span{
        background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
    }
    .online-p{
        color: #534C64;
text-align: center;
font-family: Work Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
    }
 
.container {
    position: relative;
    width: 100%;
    max-width: 400px;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .fa-play {background-color: red;
    color: white;
    font-size: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    opacity: 0.8;
  }
  
  .fa-user:hover {
    color: #eee;
   width: 10px;
  
  }
  .footer{
    display: flex;
    gap: 10px;
  }
  .card-head{
    text-align: right;
font-family: Work Sans;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 60px; /* 125% */
  }
  .card-container{margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 100px;
  }
  .card-img img{
    position: absolute;
    width: 300px;
    height: 300px;
  }
 .card-imges img{
    position: relative;
    margin-left: -100px;
    margin-top: 200px;
    width: 200px;
    height: 200px;
  }
